<%- include('../partials/header') %> 

<main>
    <div>
        <% photos.forEach(photo => { %>
            <a href="/photos/<%= photo._id %>"><img class="photo" src=<%= photo.address %>></a>
        <% }); %>
    </div>
</main>

<%- include('../partials/footer') %> 