<%- include('../partials/header') %> 

<main>
    <div>
        <% if (photos) {photos.forEach(photo => { %>
            test
        <% })}; %>
        No photos
    </div>
</main>

<%- include('../partials/footer') %> 