:root {
  --border-radius: 20px;
}

body, html {
  margin: 0;
  width: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgba(255, 255, 255, 1);
  backdrop-filter: blur(30px);
}

nav {
  height: 150px;
  width: 100%;
  background-color: rgba(255, 255, 255, .6);
  margin-bottom: 50px;
  position: sticky;
  top: 0;
  backdrop-filter: blur(30px);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-background {
  width: 85vw;
  height: 28px;
  left: 50%;
  top: 75px;
  background-color: red;
  border: 1px solid black;
  border-radius: 30px;
  position: absolute;
  transform: translate(-50%, -50%);
}

#search-bar {
  background-color: rgba(255, 255, 255, .3);
  /* backdrop-filter: blur(5px); */
  width: 50vw;
  padding: 20px;
  border-radius: 100px;
  z-index: 2;
  border: none;
  outline: none;
  margin-right: 20px;
}

#search-bar:focus {
  background-color: rgba(255, 255, 255, .6);
}

.nav-btn {
  color: #666;
  text-decoration: none;
  background-color: rgb(221, 221, 221);
  padding: 15px;
  border-radius: 30px;
  transition: 0.25s all ease-in-out;
  margin: 0 5px;
}

.nav-btn:hover {
  background-color: rgb(255, 255, 255);
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

main {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(30px);
}

/* new photo ejs */
#new-photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#new-photo label {
  display: inline-block;
  width: 200px;
  height: 60px;
  font-size: 20px;
}

#new-photo input {
  background-color: #ddd;
  border: none;
  height: 25px;
  padding: 10px 20px;
  border-radius: 30px;
}

#new-photo button {
  width: 50%;
  padding: 15px;
  border-radius: 50px;
  border: none;
  transition: 0.25s all ease-in-out
}

#new-photo button:hover {
  background-color: #777;
  color: white;
}

.photo {
  width: 20vw;
  object-fit: cover;
}

#photo-index {
  width: calc(100vw - 30px);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 50px;
  justify-content: center;
}

.photo-grid-tiles {
  width: 100%;
  text-align: center;
}

.photo-grid-tiles img {
  border-radius: var(--border-radius);
  width: 100%;
  box-shadow: 5px 3px 30px gray;
}

#photo-div {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

#photo-div img {
  border-radius: calc(var(--border-radius) * 2);
}

#large-photo {
  height: auto;
  margin: 0 5vw;
  width: 90vw;
}

#posts-div {
  width: calc(90vw - 60px);
  height: 800px;
  padding: 30px;
  border: 1px solid black;
  border-radius: calc(var(--border-radius) * 2);
  margin: 0 5vw;
}

#delete-photo {
  width: 90vw;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: right;
  align-items: center;
}

#delete-photo button {
  margin-right: 3vw;
  background-color: rgba(0,0,0,0);
  font-size: 20px;
  border: none;
}

#delete-photo button:hover {
  color: red;
}

.comments-div {
  border: dashed 1px grey;
}

.pin {
  border-radius: 50%;
  opacity: 1;
  background-color: #ff7070;
  position: absolute;
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%);
  transition: 0.25s all ease-in-out;
}

#new-post {
  position: absolute;
  display: none;
  color: #ccc;
  padding: 30px;
  background-color: rgba(128, 128, 128, 0.4);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(20px);
}

.delete-btn button {
  background-color: rgba(0,0,0,0);
  border: none;
  position: absolute;
  left: 5px;
  top: 5px;
  font-size: 20px;
  color: #ccc;
  transition: all .25s ease-out
}

.delete-btn button:hover {
  color: red;
}

.close-btn {
  background-color: rgba(0,0,0,0);
  border: none;
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 20px;
  color: #ccc;
  transition: all .25s ease-out
}

.close-btn:hover {
  color: red;
}

.posts {
  display: none;
  padding: 10px;
  background-color: rgba(69, 64, 87, 0.8);
  color: #ccc;
  position: absolute;
  width: 60vw;
  height: 60vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: var(--border-radius);
}

#posts h3 {
  border-bottom: solid 1px #777;
  padding: 5px;
  margin: 0;

}