<main>
    <form id="new-post" action="/posts" method="POST">
        <label>Title: </label>
        <input type="text" name="title">
        <label>Content:</label>
        <textarea type="text" name="content"></textarea>
        <button type="submit" value="New Post">Add</button>
    </form>
</main>